<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
<script src="https://cdn.auth0.com/w2/auth0-7.6.1.min.js"></script>
	<script type="text/javascript" src="tidy-auth0.js"></script>
</head>
<body>
	<div ng-app="tidyLoginDemo">
		<button type="submit" id="btn-login">Sign In</button>
			<div ng-if="isAuthenticated">
  <p>Thank you for logging in!</p>
  <button onclick="javascript: logout();">Log Out</button>

<img alt="avatar" id="avatar" style="display:none;">
<p>Welcome <span id="nickname"></span></p>
</div>
	</div>
</body>
</html>