  <div class="container">
    <h1>
      Welcome to UoN Computing Society
    </h1>
    We are a society here to spark new connections among students through regular social events and off-campus activities, boost your connections with industry partners, and seed entrepreneurship and innovation through support and mentorship.
    <br>
    <br>
    All students welcomed, including those in Faculty of Engineering or Information Technology.
    <br>
    <br>
    Please <a href="https://uoncomputingsociety.tidyhq.com/public/memberships/new" target="_blank">join up</a> and follow our <a href="http://fb.com/uoncompsoc" target="_blank">FB page</a>
  </div>